@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-600 hover:text-gray-700;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  margin-top: 4px;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.modal {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.open {
  opacity: 1;
  transform: translateY(0);
}

.modal.close {
  opacity: 0;
  transform: translateY(-20px);
}
